<mat-dialog-content role="dialog">
  <div>
    <h4 class = "header-title">DIRECTOR</h4>
    <div><span class="director-title">Name of Director: </span>{{ data.director.Name }}</div>

  <div><span class="director-title">BIO: </span>{{ data.director.Bio }}</div>

  <div><span class="director-title">Year of Birth: </span>{{ data.director.Birth }}</div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="directorBtn">
  <button mat-raised-button mat-dialog-close>Back</button>
</mat-dialog-actions>
